# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Compiled files
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Optional: PostgreSQL dump files
*.sql
*.dump
